<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy/MM/dd - HH:mm:ss}] %boldCyan(%-34.-34thread) %red(%10.10X{jda.shard}) %boldGreen(%-15.-15logger{0}) %highlight(%-6level) %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="DISCORD" class="de.grewdev.BotErrorLogger">
        <jda>${JDA_INSTANCE}</jda>
        <channelId>YOUR_CHANNEL_ID</channelId>
    </appender>
    <appender name="ERRORFILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/error/GDN.log</file>
        <append>true</append>
        <encoder>
            <pattern>[%d{yyyy/MM/dd - HH:mm:ss}] %-34.-34thread %10.10X{jda.shard} %-15.-15logger{0} %-6level %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>
    <appender name="WARNFILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/warn/GDN.log</file>
        <append>true</append>
        <encoder>
            <pattern>[%d{yyyy/MM/dd - HH:mm:ss}] %-34.-34thread %10.10X{jda.shard} %-15.-15logger{0} %-6level %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>
    <appender name="INFOFILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/info/GDN.log</file>
        <append>true</append>
        <encoder>
            <pattern>[%d{yyyy/MM/dd - HH:mm:ss}] %-34.-34thread %10.10X{jda.shard} %-15.-15logger{0} %-6level %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <root level="error">
        <appender-ref ref="DISCORD" />
        <appender-ref ref="ERRORFILE" />
    </root>
    <root level="warn">
        <appender-ref ref="DISCORD" />
        <appender-ref ref="WARNFILE" />
    </root>
    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="INFOFILE" />
    </root>
</configuration>
